/build
/CP4SBI.egg-info
HELP.txt 
Experiments/sbi-logs/
Experiments/vagner/sbi-logs/
/CP4SBI/__pycache__/
/sbi-logs/
/tensorboard/
Results/sbi-logs/NPE_C
Results/__pycache__/
.Rproj.user

Results/MAE_results/*results*
Results/MAE_results/*checkpoints*
Results/MAE_results_NPSE/*results*
Results/MAE_results_NPSE/*checkpoints*
Results/Marginal_results/*results*
Results/Marginal_results/*checkpoints*
Results/Marginal_results_NPSE/*results*
Results/Marginal_results_NPSE/*checkpoints*
Results/X_data/*raw*
Results/X_data/*distractors*
Results/*heatmap*
Results/*testing*
*credible_regions*
*illustration*
*checkpoints*